<h1>โครงการรายวิชา Internet Programming</h1>
<h2>ระบบบันทึกงาน Tasks To-Do List</h2>
<h3>ด้วย SEAN Tech. Stack</h3>
<h4><i class="bi bi-database"></i> S(QL) Server</h4>
<h4><i class="bi bi-server"></i> E(xpress.js)</h4>
<h4><i class="bi bi-0-square"></i> A(ngular)</h4>
<h4><i class="bi bi-node-plus"></i> N(Node.js)</h4>
<hr/>
<h5>จัดทำโดย</h5>
<h6>44210268 นายบุญชู จิตนุพงศ์</h6>
<h6>นิสิตสาขาวิชาเทคโนโลยีสารสนเทศ</h6>
<h6>คณะวิทยาศาสตร์ ศรีราชา</h6>
<h6>มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา</h6>